@import "/src/styles/valiables";
body {
    margin: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
}

.container {
    padding: 50px 20px;
    height: auto;
    display: block;
}

.text-typing {
    width: 100%;
    font-size: 56px;
    font-weight: 700;
    font-family: monospace;
    overflow: hidden;
    position: relative;
}

.text-typing p {
    margin: 0px;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    animation: typing 4s steps(22, end) forwards, blink 1s infinite;
    white-space: nowrap;
}

.time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 300px) {
    .text-typing {
        font-size: 24px;
    }
}

@media screen and (min-width: 400px) {
    .text-typing {
        font-size: 28px;
    }
}

@media screen and (min-width: 800px) {
    .text-typing {
        font-size: 32px;
    }
}

@keyframes typing {
    0% {
        width: 0%
    }
    100% {
        width: 100%
    }
}

@keyframes blink {
    0%,
    100% {
        border-right: 2px solid transparent;
    }
    50% {
        border-right: 2px solid #222;
    }
}