@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "libraries";
// @import "mixins";
@import "common";
// @import "reset";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    max-height: 100vh;
}

body {
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: "IBM Plex Sans Thai", sans-serif;
}