<body class="container">
  <div class="block">
    <div class="text-typing">
      <p>Booking Trainee ...</p>
    </div>
    <div class="mt-4">
      <div class="trainer-text font-bold">Trainer</div>
      <button
        type="button"
        class="w-[80px] border-solid border border-slate-200 rounded-md m-2"
      >
        Gem
      </button>
    </div>
    <div class="mt-4">
      <p class="font-bold">Date</p>
      <input
        type="date"
        [(ngModel)]="date"
        class="w-[60%] min-h-[40px] border-solid border-2 border-violet-700 rounded-sm px-3 m-2"
        (change)="checkDate()"
      />
    </div>
    <div class="mt-4" *ngIf="showAvaliableTime">
      <div class="trainer-text font-bold">Avaliable Time</div>
      <div class="flex justify-center">
        <div class="time">
          <ng-container *ngFor="let time of times; index as i">
            <button
              [ngClass]="{
                'border-green-500': avaliableTime[i],
                'bg-green-400': selectedTime[i]
              }"
              class="w-[100px] border-solid border border-slate-200 rounded-md m-2"
              (click)="bookingTime(i, time)"
            >
              {{ time }}
            </button>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="mt-4" *ngIf="showFormName">
      <p class="font-bold">Trainee Name</p>
      <input
        type="text"
        [(ngModel)]="name"
        class="w-[60%] min-h-[40px] text-input border-solid border-[1px] border-gray-200 rounded-sm px-4"
      />
    </div>
    <div class="bottom-6" *ngIf="name != ''">
      <button
        type="submit"
        class="w-full min-h-[40px] bg-[#02B3FF] border-solid border border-slate-200 rounded-md m-2 text-white"
        (click)="submit()"
      >
        Booking
      </button>
    </div>
  </div>
</body>
